.table-manage {
  max-width: 100%;
  overflow-x: auto;
  .table td,
  .table th {
    vertical-align: middle !important;
  }
}
tr {
  .edit-box,
  .btn-group-edit {
    display: none;
  }
  .content {
    display: block;
  }

  &.editing {
    .edit-box,
    .btn-group-edit {
      display: block;
    }
    .content,
    .btn-edit {
      display: none;
    }
  }
}
.btn-log-out {
  position: fixed;
  top: 1rem;
  right: 1rem;
}
