<!DOCTYPE html>
<html lang="en">
  <head>
    <title>No prevent injection</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- FONT AWESOME CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <link rel="stylesheet" href="stylesheets/manage.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="my-5">
            <h1 class="h1 text-center">Quản lý lương</h1>
            <p class="h3 text-primary">Xin chào <%=userInfo.display_name%></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col table-manage">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Display_name</th>
                <th scope="col">Gender</th>
                <th scope="col">Salary</th>
                <th scope="col">Job_position</th>

                <% if(userInfo.role.level > 1){ %>
                <th scope="col">Action</th>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <% listUser.forEach(user=>{ %>
              <tr>
                <th scope="row">
                  <input
                    type="hidden"
                    name="id"
                    class="form-control edit-box"
                    value="<%=user.id %>"
                  />
                  <%=user.id %>
                </th>
                <td>
                  <input
                    type="text"
                    name="username"
                    class="form-control edit-box"
                    value="<%=user.username %>"
                  />
                  <div class="content">
                    <%=user.username %>
                  </div>
                </td>
                <td>
                  <input
                    type="text"
                    name="email"
                    class="form-control edit-box"
                    value="<%=user.email %>"
                  />
                  <div class="content">
                    <%=user.email %>
                  </div>
                </td>
                <td>
                  <input
                    type="text"
                    name="phone"
                    class="form-control edit-box"
                    value="<%=user.phone %>"
                  />
                  <div class="content">
                    <%=user.phone %>
                  </div>
                </td>
                <td>
                  <input
                    type="text"
                    name="address"
                    class="form-control edit-box"
                    value="<%=user.address %>"
                  />
                  <div class="content">
                    <%=user.address %>
                  </div>
                </td>
                <td>
                  <input
                    type="text"
                    name="display_name"
                    class="form-control edit-box"
                    value="<%=user.display_name %>"
                  />
                  <div class="content">
                    <%=user.display_name %>
                  </div>
                </td>
                <td>
                  <!-- <input
                    type="text"
                    name="gender"
                    class="edit-box"
                    value="<%=user.address %>"
                  /> -->
                  <select
                    class="custom-select edit-box"
                    id="inputGroupSelect01"
                    name="gender"
                  >
                    <option
                      value="0"
                      selected="<%=user.gender===0?true:false %>"
                      >Nữ</option
                    >
                    <option
                      value="1"
                      selected="<%=user.gender===1?true:false %>"
                      >Nam</option
                    >
                  </select>
                  <div class="content">
                    <%=user.gender===1?"Nam":"Nữ" %>
                  </div>
                </td>
                <td>
                  <input
                    type="text"
                    name="salary"
                    class="form-control edit-box"
                    value="<%=user.salary %>"
                  />
                  <div class="content">
                    <%=user.salary %>
                  </div>
                </td>
                <td>
                  <input
                    type="text"
                    name="job_position"
                    class="form-control edit-box"
                    value="<%=user.job_position %>"
                  />
                  <div class="content">
                    <%=user.job_position %>
                  </div>
                </td>
                <% if(userInfo.role.level > 1){ %>
                <td>
                  <button
                    class="btn btn-edit"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Chỉnh sửa"
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                  <div class="btn-group-edit">
                    <button
                      class="btn btn-oke"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Cập nhật"
                    >
                      <i class="far fa-check-square"></i>
                    </button>
                    <button
                      class="btn btn-cancel"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Hủy"
                    >
                      <i class="fas fa-undo"></i>
                    </button>
                  </div>
                </td>
                <% } %>
              </tr>
              <% }) %>
              <!-- <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>

      <button class="btn btn-log-out">
        Đăng xuât <i class="fas fa-sign-out-alt ml-1"></i>
      </button>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function () {
        $(function () {
          $('[data-toggle="tooltip"]').tooltip();
        });

        function closeAllEdit() {
          $("tr").removeClass("editing");
        }

        $(".btn-edit").click(function () {
          closeAllEdit();
          $(this).parent().parent().addClass("editing");
        });
        $(".btn-cancel").click(function () {
          $(this).parent().parent().parent().removeClass("editing");
        });

        $(".btn-log-out").click(function () {
          fetch("/logout")
            .then((res) => res.json())
            .then((data) => {
              const { logout } = data;
              if (logout) {
                window.location.href = "/";
              } else {
                alert("Logout failed. Try again");
              }
            })
            .catch((error) => {
              console.log(error);
            });
        });

        $(".btn-oke").click(function () {
          let data = {};
          let x = $(this).parent().parent().parent().find(".edit-box");
          // .children("input");
          for (let i = 0; i < x.length; i++) {
            let item = $(x[i]);
            data[item.attr("name")] = item.val();
          }
          console.log(data);
          fetch("/users", {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          })
            .then((res) => res.json())
            .then((data) => {
              if (data.error) {
                throw data.message;
              }
              window.location.reload();
            })
            .catch((error) => alert(error));
        });
      });
    </script>
  </body>
</html>
