.table-manage {
  max-width: 100%;
  overflow-x: auto;
}
.table-manage .table td,
.table-manage .table th {
  vertical-align: middle !important;
}

tr .edit-box,
tr .btn-group-edit {
  display: none;
}
tr .content {
  display: block;
}
tr.editing .edit-box,
tr.editing .btn-group-edit {
  display: block;
}
tr.editing .content,
tr.editing .btn-edit {
  display: none;
}

.btn-log-out {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

/*# sourceMappingURL=manage.css.map */
